{% block header %}
    {% block topbar %}
        {% include "header/topbar.html" %}
    {% endblock topbar %}

    {% block mobileheader %}
        {% include "header/mobile-header.html" %}
    {% endblock mobileheader %}

    {% block mobilemenu %}
        {% include "header/mobile-menu.html" %}
    {% endblock mobilemenu %}

    {% block logobar %}
        {% include "header/logobar.html" %}
    {% endblock logobar %}

    {% block menubar %}
        {% include "header/menubar.html" %}
    {% endblock menubar %}

{% endblock header %}